article.blog-list {
    h2  {
        text-decoration:none;
        color:$header-primary-color;
        a {
            color: $header-primary-color;
        }
    }
}

div.pagination {
    text-align:center;
    margin-top:40px;
    a{
        margin: 0 10px;
    }
    span{
        color:$header-secondary-color;
        opacity: 0.5;
    }
}


article{
    p.meta{
        color:$secondary-text-color;
        text-transform: uppercase;
        font-family:$pt-serif;
        font-size:0.75em;
        font-weight:500;
        letter-spacing:0.2em;
        margin:0;
        padding:0;
    }
    section.content {
        font-size: 20px;
        h2 {
            margin-bottom: 10px;
        }
        p {
            margin: 10px 0;
        }
        p.caption{
            font-size: 0.8em;
            color:#8b8b8b;
            text-align: center;
            margin:0 0 30px 0;
        }
        ul, ol{
            margin: 0 0 20px 40px;
        }
        blockquote {
            font-family: $pt-serif;
            padding-left: 10px;
            border-left: 2px solid
        }
        img, video {
            display:block;
            max-width: 100%;
            height:auto;
            width: auto;
            padding: 10px 0;
        }
        img{
            margin: 25px 0;
        }
        blockquote{
            font-family: $pt-serif;
            padding-left: 10px;
            border-left: 4px solid $link-color;
            font-style:italic;
            p {
                color: lighten($primary-text-color, 20%);
            }
        }
        div.highlight {
            background-color: $code-color;
            padding:10px;
            margin: 15px 0;
            overflow: auto;
            border-left: 4px solid $link-color;
            pre {
                padding:0px;
                margin:0px;
            }
            code{
                padding:0px;
            }
        }
        code {
            background-color: $code-color;
            padding:5px;
        }
        ul, ol {
            margin: 0 0 20px 40px;
            padding:0;
        }
    }
}

footer {
        section.post-footer{
            margin-top:30px;
            padding:30px 0px 20px 0;
            line-height:1.3;
            overflow:hidden;
            text-align:right;
            border-bottom:1px solid $header-border;
            p.tags{
                padding:0;
                margin:0;
                float:left;
                color: darken($header-border, 20%);
                a {
                    color: $link-color;
                }
            }
        }

}

#disqus_thread {
    margin-top: 80px;
}
