#freelance, #business-plan {
    display:block;
    width:640px;
    height:369px;
    margin:40px 0 0 0;
}

p.img-captions { color:lighten($primary-text-color, 40%); text-align:center; }

a.app-banner {
    &:hover{
        text-decoration: none;
        border-bottom:none;
    }
    img{
        width:640px;
        height:369px;
        margin:20px 0;
    }
}
