//Colors
$white: #fff;
$header-border:#ddd;
$code-color: #edeff0;
//Text Colors
$header-primary-color:#2979FC;
$header-secondary-color:#222;
$primary-text-color: #444;
$secondary-text-color: #a4abb2;
$post-title-color: #3b3b3b;
$link-color:#2979FC;
