//Colors
$white: #fff;
$header-border:#ddd;
$code-color: #edeff0;
//Text Colors
$header-primary-color:#585858;
$header-secondary-color:#222;
$primary-text-color: #444;
$secondary-text-color: #D4D4D4;
$post-title-color: #353C35;
$link-color:#2979FC;
$white-color:#fff;
