$pt-serif: "PT Serif", Georgia, Times, "Times New Roman", serif;
$pt-sans: "pt-sans",sans-serif;


$source-sans-pro: "Source Sans Pro", Futura, "Helvetica Neue", Helvetica, "Lantinghei SC", "Kaiti SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$omnes-pro: "omnes-pro",sans-serif;
$open-sans: "Open Sans", Helvetica, sans-serif;
$proxima-nova: "proxima-nova",sans-serif;

//New Fonts

