<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="//use.typekit.net/tcx7ena.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>
    <body>
          <header role="banner">
            <div class="container">
              <h1><a class="header-title" href="/">Pasan Premaratne</a></h1>
              <ul class="headlinks">
                  <li><a href="http://www.getmoveapp.com">Apps</a></li>
                  <li><a href="/about/">About</a></li>
                  <li><a href="/contact/">Contact</a></li>
              </ul>
            </div>
           </header>

          <section role="main" class="container">
            {{ content }}
          </section>

          <footer id="footer">
       <section class="container">
        <p>
          <a href="https://twitter.com/pasanpr" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @pasanpr</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </p>
        <p>&copy; {{ site.time | date: "%Y" }} Pasan Premaratne</p>
       </section>
    </footer>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28086501-1']);
  _gaq.push(['_setDomainName', 'pasanpremaratne.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>
